@using atlas_task.Models.ViewModels
@{
    ViewData["Title"] = "График платежей";
}
@model PaymentResultsViewModel

<h1>@ViewData["Title"]</h1>

<div class="mt-4">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата платежа</th>
                <th>Сумма платежа</th>
                <th>Основной долг</th>
                <th>Проценты</th>
                <th>Остаток долга</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.Payments)
            {
                <tr>
                    <td>@payment.PaymentNumber</td>
                    <td>@payment.PaymentDate.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU"))</td>
                    <td>@payment.PaymentAmount</td>
                    <td>@payment.PrincipalPayment</td>
                    <td>@payment.InterestPayment</td>
                    <td>@payment.RemainingBalance</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <strong>Итоговое значение всех переплат по кредиту:</strong>
        @Model.TotalOverpayment
    </div>




</div>
